@{
    ViewBag.Title = "Bandai";
}

<h2>Bandai</h2>

<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="headline">
                    <h2>Bandai Namco</h2>
                </div>
            </div>
            <div class="col-md-9 col-sm-6">
                <p class="lead">
                    Bandai Namco Europe S.A.S. è uno dei più importanti editori e sviluppatori al mondo di contenuti interattivi per le principali piattaforme di gioco (ma non solo), tra cui console e PC.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="CC-image">
                    <picture>
                        <source sizes="100vw" srcset="//www.gamestop.it/Views/Locale/Content/Images//landing.bandai/CategoryCard/Tekken/CategoryCard.jpg?rel=1 1x, //www.gamestop.it/Views/Locale/Content/Images//landing.bandai/CategoryCard/Tekken/CategoryCard@2.jpg?rel=1 2x">
                        <img class="img-fluid" alt="" src="//www.gamestop.it/Views/Locale/Content/Images//landing.bandai/CategoryCard/Tekken/CategoryCard.jpg?rel=1">
                    </picture>
                </div>
            </div>
            <div class="col-md-6">
                <div class="CC-text">
                    <h4 class="headline">Il nuovissimo capitolo della leggendaria serie TEKKEN</h4>
                    <p class="lead">
                        Sviluppato su Unreal Engine 5 e disponibile esclusivamente su PS5, Xbox Series X|S e PC Digital, TEKKEN 8 spinge al limite l'hardware e la tecnologia della nuova generazione. Il gioco presenta modelli dei personaggi ad alta definizione, con pelle e capelli dettagliatissimi e grafica realistica: i muscoli si contraggono seguendo il movimento dei lottatori.
                    </p>
                    <a class="btn btn-primary" href="https://www.gamestop.it/SearchResult/QuickSearch?q=tekken+8" role="button">Acquista ora</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 order-md-2">
                <div class="CC-image">
                    <picture>
                        <source sizes="100vw" srcset="//www.gamestop.it/Views/Locale/Content/Images//landing.bandai/CategoryCard/Naruto/CategoryCard.jpg?rel=2 1x, //www.gamestop.it/Views/Locale/Content/Images//landing.bandai/CategoryCard/Naruto/CategoryCard@2.jpg?rel=2 2x">
                        <img class="img-fluid" alt="" src="//www.gamestop.it/Views/Locale/Content/Images//landing.bandai/CategoryCard/Naruto/CategoryCard.jpg?rel=2">
                    </picture>
                </div>
            </div>
            <div class="col-md-6 order-md-1">
                <div class="CC-text">
                    <h4 class="headline">I ninja leggendari si riuniscono!</h4>
                    <p class="lead">
                        Festeggia il 20° anniversario del debutto dell'anime di Naruto con NARUTO X BORUTO Ultimate Ninja STORM CONNECTIONS, il nuovo capitolo della leggendaria serie di Ultimate Ninja STORM che ha venduto oltre 27 milioni di copie in tutto il mondo.
                    </p>
                    <a class="btn btn-primary" href="https://www.gamestop.it/SearchResult/QuickSearch?q=NARUTO%20X%20BORUTO%20Ultimate%20Ninja%20STORM%20CONNECTIONS&amp;productType=2" role="button">Acquista ora</a>
                </div>
            </div>
        </div>
    </div>
</section>
