@{
    ViewBag.Title = "Bandai";
}



<main>
    <h1 class="text-center mt-3">Bandai Namco</h1>
    <div class="container">
        <!-- Sezione 1 -->
        <section class="section">
            <div class="row">
                <div class="col-md-9">
                    <p class="lead">
                        Bandai Namco Europe S.A.S. è uno dei più importanti editori e sviluppatori al mondo di contenuti interattivi per le principali piattaforme di gioco, tra cui console e PC.
                    </p>
                </div>
            </div>
        </section>

        <!-- Sezione 2 -->
        <section class="section">
            <div class="row">
                <div class="col-md-6">
                    <div class="CC-image">
                        <img class="img-fluid" src="https://www.gamestop.it/Views/Locale/Content/Images/landing.bandai/CategoryCard/Tekken/CategoryCard.jpg?rel=1" alt="Immagine di Tekken">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="CC-text">
                        <h4 class="headline">Il nuovissimo capitolo della serie TEKKEN</h4>
                        <p class="lead">
                            TEKKEN 8 è sviluppato su Unreal Engine 5 e disponibile su PS5, Xbox Series X|S e PC Digital. Il gioco offre modelli dei personaggi ad alta definizione e grafica realistica.
                        </p>
                        <a class="btn btn-primary" href="https://www.gamestop.it/SearchResult/QuickSearch?q=tekken+8">Acquista ora</a>
                    </div>
                </div>
            </div>
        </section>

        <!-- Sezione 3 -->
        <section class="section">
            <div class="row">
                <div class="col-md-6 order-md-2">
                    <div class="CC-image">
                        <img class="img-fluid" src="https://www.gamestop.it/Views/Locale/Content/Images/landing.bandai/CategoryCard/Naruto/CategoryCard.jpg?rel=2" alt="Immagine di Naruto">
                    </div>
                </div>
                <div class="col-md-6 order-md-1">
                    <div class="CC-text">
                        <h4 class="headline">Naruto Shippuden Ultimate Ninja Storm 4</h4>
                        <p class="lead">
                            Prepara la tua squadra con i combattenti di Naruto. Aggiungi un tocco di originalità con nuovi esperti ninja.
                        </p>
                        <a class="btn btn-primary" href="https://www.gamestop.it/Views/Locale/Content/Download/Naruto%20Shippuden%20Ultimate%20Ninja%20Storm%204%20Game%20Guide%20In%20Italiano.pdf">Scarica la guida</a>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>
