@{
    ViewBag.Title = "Hori";
}


<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <a href="https://cdn11.bigcommerce.com/s-bsuqqx/images/stencil/original/carousel/181/SPF-037U_WEBbanner_Updated.jpg?c=2" target="_blank">
                <img src="https://cdn11.bigcommerce.com/s-bsuqqx/images/stencil/original/carousel/181/SPF-037U_WEBbanner_Updated.jpg?c=2" class="d-block w-100" alt="Slide 1">
            </a>
        </div>
        <div class="carousel-item">
            <a href="https://cdn11.bigcommerce.com/s-bsuqqx/images/stencil/original/carousel/182/Web_banner_Tekken_OCTA.jpg?c=2" target="_blank">
                <img src="https://cdn11.bigcommerce.com/s-bsuqqx/images/stencil/original/carousel/182/Web_banner_Tekken_OCTA.jpg?c=2" class="d-block w-100" alt="Slide 2">
            </a>
        </div>
        <div class="carousel-item">
            <a href="https://cdn11.bigcommerce.com/s-bsuqqx/images/stencil/original/carousel/176/HPC-043U_US_banner_230822.jpg?c=2" target="_blank">
                <img src="https://cdn11.bigcommerce.com/s-bsuqqx/images/stencil/original/carousel/176/HPC-043U_US_banner_230822.jpg?c=22" class="d-block w-100" alt="Slide 2">
            </a>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>


<div class="container-fluid mt-2">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-3 col-sm-6 text-center">
            <a href="https://www.gamestop.it/SearchResult/QuickSearch?q=hori+Headset" class="btn btn-block btn-lg ">
                <img src="//www.gamestop.it/Views/Locale/Content/Images//_IconSet/IconSet_Headset.svg" alt="Headset">
                <p>Headset</p>
            </a>
        </div>
        <div class="col-md-3 col-sm-6  text-center">
            <a href="https://www.gamestop.it/SearchResult/QuickSearch?q=hori+controller" class="btn btn-block btn-lg ">
                <img src="//www.gamestop.it/Views/Locale/Content/Images//_IconSet/IconSet_ControllersGeneric.svg" alt="Controller">
                <p>Controller</p>
            </a>
        </div>
        <div class="col-md-3 col-sm-6  text-center">
            <a href="https://www.gamestop.it/SearchResult/QuickSearch?q=hori+%2Bcustodie" class="btn btn-block btn-lg ">
                <img src="//www.gamestop.it/Views/Locale/Content/Images//_IconSet/IconSet_Cases.svg" alt="Custodie">
                <p>Custodie</p>
            </a>
        </div>
        <div class="col-md-3 col-sm-6  text-center">
            <a href="https://www.gamestop.it/SearchResult/QuickSearch?q=hori+Volanti" class="btn btn-block btn-lg ">
                <img src="//www.gamestop.it/Views/Locale/Content/Images//_IconSet/IconSet_Wheels.svg" alt="Volanti">
                <p>Volanti</p>
            </a>
        </div>
    </div>
</div>