@{
    ViewBag.Title = "PC";
}



    <div id="channelPage">
        <!-- Hero Slider -->
        <section class="section is-first">
            <div class="splide">
                <div class="splide__track">
                    <ul class="splide__list">
                        <li class="splide__slide">
                            <div class="HS-inner">
                                <div class="HS-text">
                                    <div class="logo small">
                                        <img alt="Logo" src="//www.gamestop.it/Views/Locale/Content/Images//landing.ludix/HeroSlider/Logo.png?rel=3" style="display: none;">
                                    </div>
                                    <h4 class="headline">
                                        <span class="small">Costruisci il tuo PC</span>
                                    </h4>
                                    <h5 class="subline">Costruisci il tuo PC da zero! Scegli la tua configurazione per brand, in base al tuo gioco preferito oppure secondo la fascia di prezzo.</h5>
                                    <p class="HS-cta">
                                        <a class="btn btn-primary" href="#Ludix">Costruisci il Tuo PC</a>
                                    </p>
                                </div>
                            </div>
                            <div class="HS-bg">
                                <a href="#">
                                    <img alt="XAA Starfield" src="//www.gamestop.it/Views/Locale/Content/Images//landing.ludix/HeroSlider/slider.jpg?rel=2" class="img-fluid">
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>

        <!-- SEO Text -->
        <section class="section" id="Ludix">
            <div class="SEO-block">
                <div class="row middle-sm">
                    <div class="col-md-3 col-xs-12">
                        <h2 class="headline">Costruisci il Tuo <strong class="red">PC</strong></h2>
                    </div>
                    <div class="col-md-9 col-xs-12">
                        <p class="lead">
                            Crea da zero il tuo prossimo PC fisso da gaming in base alle tue esigenze: che sia per brand, budget od ottimizzato in base al tuo gioco preferito, grazie al configuratore potrai scegliere tra svariati pezzi e creare la macchina su misura per te.
                            Non dovrai nemmeno occuparti del montaggio. Professionisti lo faranno al posto tuo, consegnandoti il computer scelto già montato, comodamente a casa tua. Tutto arriverà integro, lo speciale sistema di imballaggio terrà tutti i pezzi al proprio posto... ma non preoccuparti, sarà semplice da rimuovere una volta ricevuto!
                        </p>
                        <button class="seeMore">Espandi</button>
                    </div>
                </div>
            </div>
        </section>

        <hr class="divider major">

        <iframe id="ldxFrame" src="https://microtech.store/ludix/home?ifsc=GAMGR1WEB" frameborder="0" style="height: 1357px; width: 100%;"></iframe>

        <br class="clearing">

        <!-- Ludix product Footer section  -->

    </div>

    <style>
        .loyaltyUpgradeFooter {
            display: none;
        }
    </style>
    <div class="loyaltyUpgradeFooter">
        <a class="btn btn-secondary" style="float:left" href="/Home/Index"><span>Ritorna all'Homepage</span></a>
    </div>
    <br class="clearing">
<!-- Initialize Splide Carousel -->
<script>
    document.addEventListener('DOMContentLoaded', function () {
        new Splide('#slider-hero', {
            type: 'fade',
            arrows: true,
            pagination: false,
            autoplay: true,
            interval: 5000, // 5 seconds
        }).mount();
    });
</script>
