

        <hr class="divider major">

        <iframe id="ldxFrame" src="https://microtech.store/ludix/home?ifsc=GAMGR1WEB" frameborder="0" style="height: 1357px; width: 100%;"></iframe>

        <br class="clearing">

        <!-- Ludix product Footer section  -->


    <style>
        .loyaltyUpgradeFooter {
            display: none;
        }
    </style>
    <div class="loyaltyUpgradeFooter">
        <a class="btn btn-secondary" style="float:left" href="/Home/Index"><span>Ritorna all'Homepage</span></a>
    </div>
    <br class="clearing">
<!-- Initialize Splide Carousel -->
<script>
    document.addEventListener('DOMContentLoaded', function () {
        new Splide('#slider-hero', {
            type: 'fade',
            arrows: true,
            pagination: false,
            autoplay: true,
            interval: 5000, // 5 seconds
        }).mount();
    });
</script>
