@{
    ViewBag.Title = "Very";
}




    <div class="container">
        <section class="section is-first">
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <!-- Slide 1 -->
                    <div class="carousel-item active">
                        <a href="https://verymobile.it/offerte/very-599-weekend?utm_source=Gamestop_LP&amp;utm_medium=banner_promoweekend_aprile&amp;utm_campaign=GS_Apr2024" target="_blank">
                            <img src="//www.gamestop.it/Views/Locale/Content/Images//landing.veryMobile/HeroSlider/FlashbackApr24Part3/slider.jpg?11" class="d-block w-100" alt="Slide 1">
                        </a>
                    </div>
                    <!-- Slide 2 -->
                    <div class="carousel-item">
                        <a href="https://verymobile.it/?utm_source=Gamestopsito&amp;utm_medium=banner_convenienza&amp;utm_campaign=GS_Nov2023" target="_blank">
                            <img src="//www.gamestop.it/Views/Locale/Content/Images//landing.veryMobile/HeroSlider/veryConvenienza/slider.jpg?rel=1" class="d-block w-100" alt="Slide 2">
                        </a>
                    </div>
                </div>
                <!-- Next/Previous controls -->
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </section>

        <!-- Sezione pulsanti -->
        <div class="row mt-5">
            <div class="col-md-4">
                <a href="#Ecosti" class="text-center d-block">
                    <img src="//www.gamestop.it/Views/Locale/Content/Images//_IconSet/IconSet_VeryMobileNoExtraCosti.svg" alt="No Extra Costi" class="img-fluid">
                    <p class="mt-2">No Extra Costi</p>
                </a>
            </div>
            <div class="col-md-4">
                <a href="#Rete" class="text-center d-block">
                    <img src="//www.gamestop.it/Views/Locale/Content/Images//_IconSet/IconSet_VeryMobileAssistenza.svg" alt="Rete" class="img-fluid">
                    <p class="mt-2">Rete</p>
                </a>
            </div>
            <div class="col-md-4">
                <a href="#Assistenza" class="text-center d-block">
                    <img src="//www.gamestop.it/Views/Locale/Content/Images//_IconSet/IconSet_VeryMobileCoperturaRete.svg" alt="Assistenza" class="img-fluid">
                    <p class="mt-2">Assistenza</p>
                </a>
            </div>
        </div>

        <!-- Sezione testo -->
        <div class="row mt-5">
            <div class="col-md-3"></div>
            <div class="col-md-9">
                <h2 class="text-center mb-4"><strong class="text-success">Very</strong> Conveniente</h2>
                <p class="lead text-center">Lavoriamo ogni giorno per offrirti promozioni molto chiare, un’assistenza dedicata e tariffe molto convenienti.</p>
                <p class="lead text-center">Provaci, poi dirai: proprio Very.</p>
            </div>
        </div>
    </div>

