
@{
    ViewBag.Title = "ChiSiamo";
}

<main>
    <h1 class="text-start text-custom mt-3 text-center">Chi Siamo</h1>
    <div class="container">
        <div class="card mb-3 w-100 border-0 m-5 ">
            <div class="row g-0 m-3 align-items-center">
                <div class="col-md-4">
                    <img src="https://www.gamestop.it/Views/Locale/Content/Images//P3_Reload/slider.jpg" class="img-fluid shadow  " alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body px-5">
                        <h5 class="card-title text-custom">La Nostra Storia:</h5>
                        <p class="card-text ">Siamo un'azienda appassionata di videogiochi, fondata nel 20XX con la missione di rendere il mondo del gaming accessibile a tutti. L'ispirazione per la nostra azienda è nata da una profonda passione per i videogiochi e dall'obiettivo di creare un luogo dove gli appassionati possono trovare tutto ciò di cui hanno bisogno per godersi al meglio l'intrattenimento digitale.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-3 w-100 border-0 m-5  ">
            <div class="row g-0 m-3 align-items-center">
                <div class="col-md-8">
                    <div class="card-body px-5">
                        <h5 class="card-title text-custom">Il Nostro Background:</h5>
                        <p class="card-text ">Il nostro team è composto da esperti del settore del gaming, con anni di esperienza nel campo dello sviluppo di videogiochi e nell'offerta di soluzioni innovative per i giocatori. Ogni membro del nostro team porta con sé una passione unica per il gaming e una visione condivisa di creare esperienze straordinarie per la nostra community.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <img src="https://www.gamestop.it/Views/Locale/Content/Images//landing.playon/HeroSlider_FinalFantasy/slider.jpg" class="img-fluid shadow " alt="...">
                </div>

            </div>
        </div>
        <div class="card mb-3 w-100 border-0 m-5 mb-5">
            <div class="row g-0 m-3 align-items-center">
                <div class="col-md-4">
                    <img src="https://www.gamestop.it/Views/Locale/Content/Images//landing.playon/FFVIIREMAKE/slider.jpg?rel=7" class="img-fluid shadow " alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body px-5">
                        <h5 class="card-title text-custom">L'Evolvere dell'Azienda:</h5>
                        <p class="card-text ">Nel corso degli anni, abbiamo affrontato molte sfide e abbiamo imparato dagli ostacoli incontrati. Grazie alla dedizione del nostro team e al sostegno dei nostri clienti, siamo cresciuti e abbiamo ampliato la nostra offerta. Oggi, siamo orgogliosi di offrire una vasta gamma di giochi, console e accessori per soddisfare le esigenze di ogni giocatore.</p>
                    </div>
                </div>
            </div>
        </div>
     


    </div>

</main>