<div class="title background-white padding-top-30 padding-bottom-30 mobile-padding-top-30 aem-GridColumn aem-GridColumn--default--12">






    <overline-title-link>
        <div class="container ">
            <div class="overline-title-link row ">
                <div class="col-12 col-lg-8 m-title-price-wrapper">
                    <overline-title-price>
                        <div class="overline-title-price">
                            <p class="sony-text-overline"></p>
                            <h1 class="sony-text-h1">Scopri bundle e console PS5®</h1>


                        </div>
                    </overline-title-price>
                </div>

            </div>
        </div>
    </overline-title-link>
</div>
<div class="container">
    <div class="row align-items-center">
        <!-- Immagine a Sinistra (per schermi grandi) -->
        <div class="col-lg-6">
            <a href="@Url.Action("Index", "Collezioni")">
                <img src="https://media.direct.playstation.com/is/image/psdglobal/IT_ps5_digital_slim_hero_1023x599?$Hero_Desktop$" alt="Console PlayStation®5 edizione digitale" class="img-fluid">
            </a>
        </div>

        <!-- Contenuto Testuale a Destra -->
        <div class="col-lg-6">
            <div class="text-center text-lg-start">
                <div class="mb-4">
                    <p class="text-uppercase fw-bold">Elegante. Compatta. Evoluta.</p>
                    <h2 class="fw-bold">Console PlayStation®5 edizione digitale</h2>
                </div>

                <p>Regalati la sottile PS5® Digital Edition a soli €449,99</p>

                <a href="@Url.Action("Index", "Collezioni")" target="_self" class="btn btn-primary btn-lg">Negozio</a>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid mt-3">
    <img src="https://media.direct.playstation.com/is/image/psdglobal/IT_apple_music_desktop_banner_1600x508" class="img-fluid" alt="Banner Apple Music" style="width: 100%; height: auto;">
</div>