
<div class="container mt-5">
    <div class="row">
        <div class="col">
            <!-- Titolo centrato -->
            <h2 class="text-center">Scopri i giochi classici di Super Mario disponibili con Nintendo Switch Online</h2>
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col">
            <!-- Immagine centrata con link -->
            <div class="centered-image">
                <a href="@Url.Action("Index", "Collezioni")">
                    <img src="https://www.nintendo.com/eu/media/images/10_share_images/portals_3/2x1_SuperMarioHub_image1600w.jpg" class="img-fluid" alt="Super Mario Hub">
                </a>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-12 col-md-12 col-img-centered content mt-2">
            <!-- Altra immagine centrata con link -->
            <a href="@Url.Action("Index", "Collezioni")">
                <img src="https://www.nintendo.com/eu/media/images/08_content_images/others_2/characterhubs/supermariohub/MarioHub_Overview_Characters_sideimg_group.png" class="img-fluid characters-img onScrollAni scaleInBack" alt="MarioHub_Overview_Characters_sideimg_group.png">
            </a>
        </div>
    </div>
</div>