

.img-fluid {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

/* Stile per l'effetto hover */
.collezione-link {
    position: relative;
    overflow: hidden;
    margin-bottom: 20px; /* Spazio tra le immagini */
}

    .collezione-link::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5); /* Colore sfondo trasparente */
        opacity: 0;
        transition: opacity 0.3s ease;
    }

    .collezione-link:hover::before {
        opacity: 1;
    }

    /* Stile per l'effetto di zoom durante l'hover */
    .collezione-link:hover .img-fluid {
        transform: scale(1.1); /* Effetto di zoom del 10% */
    }

/* Stile per posizionare il contatore vicino all'icona del carrello */
